*{
    box-sizing: border-box;
}
:root{
    --primary-color: #ff5722;
}
body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color: #eee;
}
h1{
    text-align: center;
    background-color:white;
    padding: 20px;
    margin: 0 0 50px;
    
}
.guss-game{
    text-align: center;
    width: 1000px;
    margin: 20px auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    .game-area{
        .inputs{
            > div{
                margin-bottom: 20px ;
                display: flex;
                justify-content: center;
                align-items: center;
                span{
                    font-size: 30px;
                    margin-right: 15px;
                    font-weight: bold;
                }
            }
            .disabled-inputs{
                opacity: 0.5;
                pointer-events: none;

            }
            input{
                width: 60px;
                height: 60px;
                font-size: 50px;
                text-align: center;
                border: none;
                border-bottom: 3px solid #333;
                border-radius: 5px;
                margin: 0 5px;
                caret-color: var(--primary-color);
                &:focus{
                    outline: none;
                }
                &.yes-in-place {
                background-color: var(--primary-color);
                border: var(--primary-color);
                color: white;
                }
                
                &.not-in-place {
                background-color: #18ba18;
                border:#18ba18;
                color: white;
                }
                
                &.wrong {
                background-color: #27303f;
                border:#27303f;
                color: white;
                }
            }
        }
        .control{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 500px;
            margin: 30px auto;
            gap: 15px;
        }
        .check{
            background-color: var(--primary-color);
            flex: 1;
        }
        .hint{
            background-color: #009688;
            width: fit-content;
        }
        
        button{
            border: none;
            font-size: 30px;
            padding: 15px 20px;
            border-radius: 6px;
            color: white;
            cursor: pointer;
            font-weight: bold;
        }
        button:disabled{
            background-color: black;
            opacity: 0.5;
            cursor: no-drop;
        }
    }
    .key-color{
        display: flex;
        align-items: center;
        padding: 15px;
        background-color: white;
        margin-bottom: 10px;
        border-radius: 5px;
        .key{
            width: 30px;
            height: 30px;
            border-radius: 50px;
            margin-right: 10px;
            &.in-place{
                background-color: var(--primary-color);
            }
            &.not-in-place{
                background-color: #009688;
            }
            &.wrong{
                background-color: #27303f;
            }
        }
        .key-text{
            font-size: 20px;
            font-weight: bold;
        }
        
    }
    .key-colors{
        button{
            width: fit-content;
                background-color: #313131;
                color: white;
                font-size: 30px;
                font-weight: bold;
                border: #313131;
                border-radius: 6px;
                margin: 20px;
                padding: 15px 30px;
                cursor: pointer;
        }
        button:hover{
            background-color: var(--primary-color);
            transition: .3s;
        }
    }
}

.message{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
        span {
            font-weight: bold;
            color: var(--primary-color);
            margin-top: 10px;
            display: block;
            font-size: 50px;
            text-transform: capitalize;
    
        }
    p{
        margin-top: 15px;
    }
        
}



footer{
    text-align: center;
    position: fixed;
    font-size: 20px;
    font-weight: bold;
    /* color: white; */
    color: black;
    background-color: white;
    /* background-color: #333; */
    padding: 20px;
    bottom: 0;
    left: 0;
    width: 100%;
}